<link rel="stylesheet" href="app/timer/timer.css">

<div class="container">
	<div optionalize>
		<div class="form-group">
		    <label for="exampleInputEmail1">Email address</label>
		    <select ng-model="options.minutes" ng-options="time for time in options.time"  class="form-control">
		    	<option value="">Select Account</option>
		    </select> :
		    <select ng-model="options.secondes" ng-options="time for time in options.time"  class="form-control">
		    	<option value="">Select Account</option>
		    </select>
	  	</div>
  		
	</div>
	<div class="timer">
		{{options.duration}}
	</div>
</div>
<div style="clear:both"></div>

<div style="width:600px;height:500px;background-color: #8D5FD2;">
	<div optionalize> 
		<select name="" id="">
			<option value="">option1</option>
			<option value="">option2</option>
			<option value="">option3</option>
			<option value="">option4</option>
			<option value="">option5</option>
			<option value="">option6</option>
		</select>
	</div>
	<h>3Je suis du text</h>3
</div>